.publications-chapters{
	display: flex;
	justify-content: center;
}

.publications-chapters__item{
	max-width: 150px;
	flex-grow: 1;
	margin:30px 30px 75px;
	justify-content: center;
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;	
	// border-bottom: 2px solid #0099FF;
}

.main-publications{
	background-color: #fff;
}

.publication__year {
	font-size: 1.3em;
	text-align: center;
}

.publication {
	margin: 30px 40px;
}

.publications-chapters{
	display: flex;
	justify-content: center;
}

.publication__name{
	font-size: 1.3em;
	font-weight: bold;
}

.publication__item{
	margin: 5px 0;
}

.publications-books-content{
	display: flex;
	justify-content: center;
}

.book {
	margin: 20px;
	cursor: pointer;
}