$basic-color: #0066FF;

.publications-chapters{
	display: flex;
	justify-content: center;
}

.main-publications{
	background-color: #fff;
	// background: url(../../img/publications/books-background.jpg);
}

.publication__year {
	font-size: 1.3em;
	text-align: center;
}

.publication {
	margin: 30px 40px;
}

.main-publications-chapters{
	display: flex;
	justify-content: center;
	padding: 30px 0 75px;
}

.main-publications-content{
	display: flex;
	justify-content: center;
}

.publications-chapters__item{
	max-width: 150px;
	margin:0px 50px 0 30px;
	justify-content: center;
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;	
}

.publications-chapters__item--active {
	color: $basic-color;
	justify-content: center;
	&:after {
		content: "";
		display: block;
		width: inherit;
		height: 3px;
		margin: auto;
		border-radius: 10px;
		background: $basic-color;
		animation: chapter-active 0.4s ease;
		// transition: 0.6 ease;
	}
}

@keyframes chapter-active {
	0% {
		width: 0px;
	}
	100% {
		width: 100%;
	}
}


.main-publications-content {
	padding: 30px 0;
}

.publication__name{
	font-size: 1.3em;
	font-weight: bold;
}

.publication__item{
	margin: 5px 0;
}

.publications-books-content{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
}

.book {
	margin: 20px;
	cursor: pointer;
	transition: 0.2s ease;
	&:hover{
		transform: scale(1.05);
		transition: 0.2s ease;

	}
}


.book-zoom-info {
	position: fixed;
	display: flex;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 10;
	width: 850px;
	height: 400px;
	margin: auto;
	border-radius: 5px;
	opacity: 1;
	background-color: #fff;
	animation-name: bookInfoMoving;
	animation-duration: 400ms;
	animation-iteration-count: 1;
	animation-direction: alternate;
}

@keyframes bookInfoMoving {
	0% {
		transform: translate(0px, 100px);
	}
	100% {
		transform: translate(0px, 0px);
		opacity: 1;
	}
}

.book__img {
	height: 300px;
	
}

.book-zoom__description{
	font-size: 1.2em;	
}

.book-zoom__item {
	align-self: center;
	margin: 0 30px;
}

