	/* Large desktops and laptops */
	@media (min-width: 1200px) and (max-width: 1280px) {

	}
	/* Landscape tablets and medium desktops */
	@media (min-width: 992px) and (max-width: 1199px) {

	}
	/* Portrait tablets and small desktops */
	@media (max-width: 991px) { 
		.publications-chapters {
			display: flex;
			flex-direction: column;
			padding: 30px 0;
		}

		.publications-search {
			position: static;
			margin: 40px 0 0;
			right: 15px;
			align-self: center;
			height: 50px;
			max-width: 320px;
			border: 2px solid #000;
			border-radius: 5px;
			padding: 0 10px;
			font-size: 25px;
		}

		.book-zoom__item {
			// margin: 10px;
		}
		.book-zoom-info {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			width: 550px;
			max-width: 95vw;
			min-height: 650px;
		}

		.publications-nav__item{
			margin:0 30px;
		}

	}
	/* Landscape phones and portrait tablets */
	@media (max-width: 767px) { 

	}
	/* Portrait phones and smaller */
	@media (max-width: 480px) {

	}
	/* Iphone 5 */
	@media (max-width: 320px) {

	}