	/* Large desktops and laptops */
	@media (min-width: 1200px) and (max-width: 1280px) {

	}
	/* Landscape tablets and medium desktops */
	@media (min-width: 992px) and (max-width: 1199px) {

	}
	/* Portrait tablets and small desktops */
	@media (max-width: 991px) { 
		.book-zoom__item {
			// margin: 10px;
		}
		.book-zoom-info {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			width: 550px;
			max-width: 95vw;
			min-height: 650px;
		}
	}
	/* Landscape phones and portrait tablets */
	@media (max-width: 767px) { 

	}
	/* Portrait phones and smaller */
	@media (max-width: 480px) {

	}
	/* Iphone 5 */
	@media (max-width: 320px) {

	}