	/* Large desktops and laptops */
	@media (min-width: 1200px) and (max-width: 1280px) {


	}
	/* Landscape tablets and medium desktops */
	@media (max-width: 1199px) {
		.main-description {
			text-align: center;
			margin: 60px 30px;
		}
		.main-description__quote {

			&:before {
				left: 20px;
			}

			&:after {
				right: 20px;
			}
		}
	}
	/* Portrait tablets and small desktops */
	@media (max-width: 991px) { 
		.main-description {
			text-align: center;
			margin: 60px 30px 0px;
			font-size: 25px;
			line-height: 30px;
		}

		.main-description__quote {

			&:before {
				display: block;
				position: static;
				line-height: 0px;
				text-align: left;
			}

			&:after {
				display: block;
				position: static;
				text-align: right;
				line-height: 20px;
			}
		}

	}
	/* Landscape phones and portrait tablets */
	@media (max-width: 767px) { 

	}
	/* Portrait phones and smaller */
	@media (max-width: 480px) {

	}
	/* Iphone 5 */
	@media (max-width: 320px) {

	}