.header-mobile {
	display: flex;
	justify-content: space-around;
	background-color: #0066FF;
	// padding: 10px;
}

.burger	{
	padding: 25px;
}

.burger__item {
	display: block;
	height: 8px;
	width: 50px;
	background-color: #fff;
	margin: 8px 0px;
	border-radius: 30px;
}

.logo__image--mobile {
	height: 60px;
	margin: 25px;
}

.header-title--mobile {
	text-align: center;
	font-size: 0.7em;
	color: #fff;
}