	/* Large desktops and laptops */
	@media (min-width: 1200px) and (max-width: 1280px) {
		.header-title {
			font-size: 0.9rem;
			align-self: center;
		}
		.nav-menu {
			display: flex;
			justify-content: space-between;
			padding: 15px 20px;
		}
	}
	/* Landscape tablets and medium desktops */
	@media (min-width: 992px) and (max-width: 1199px) {

	}
	/* Portrait tablets and small desktops */
	@media (min-width: 768px) and (max-width: 991px) { 

	}
	/* Landscape phones and portrait tablets */
	@media (max-width: 767px) { 

	}
	/* Portrait phones and smaller */
	@media (max-width: 480px) {

	}
	/* Iphone 5 */
	@media (max-width: 320px) {

	}