.footer {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	background-color: #0066FF;
	color: #fff;
}

.footer-socials {
	display: flex;
	align-items: center;
}

.footer-copyright {
	align-self: center;
	margin: 0 10px;
	font-size: 12px;
}

.footer-socials__item {
	margin: 0 10px;
	transition: 0.2s ease;
	&:hover {
		transform: scale(1.15);
		transition: 0.4s ease-out;
	}
}