.main-archive {
	display: flex;
	min-height: calc(100vh - 64px - 45px);  //Убрать при добавлении контента на страницу
	background-color: #fff;
}

.archive-message {
	align-self: center;
	margin: 0 auto;
	font-size: 30px;
}	