.cards-list {
	display: flex;
	flex-direction: column;
}

.cards-list-container {
	max-width: 1400px;
	width: 100%;
	margin: 20px auto;
}

.cards-list-image {
	width: 350px;
	margin: 0 40px;
}

.cards-list-descript {
	max-width: 700px;
	margin: 0 40px;
	font-family: Lato, sans-serif;
	font-size: 20px;
}

.cards-list-title {
	display: block;
	margin: 20px 0;
	font-size: 1.3em;
	text-align: center;
}

.cards-list-dropdown{
	display: flex;
	align-items: center;
	margin: 0 40px;
}

.dropdown__img {
	height: 20px;
	margin-right: 25px;
	transition: transform 400ms;
}

.dropdown__img--active {
	transform: rotate(90deg);
	// animation-name: dropdownOpen;
	// animation-duration: 400ms;
	// animation-direction: reverse;
	// transform: rotate(90deg);
}

.dropdown__text {
	font-size: 2em;
}

.cards-list-elem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 40px 0;
	animation-name: showListElem;
	animation-duration: 500ms;
}


@keyframes showListElem {
	0% {
		position: relative;
		top: -50px;
	}
	100% {
		position: relative;
		top: 0px;
	}
}