.cards-list-elem {
	display: flex;
	align-items: center;
	max-width: 1400px;
	margin: 60px auto;
	justify-content: space-around;
}

.cards-list-image {
	width: 350px;
}

.cards-list-descript {
	max-width: 700px;
	font-family: Lato, sans-serif;
	font-size: 18px;
}

.cards-list-title {
	display: block;
	margin: 20px 0;
	font-size: 1.3em;
	text-align: center;
}