@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

@import "Components/Main/Main.scss";
@import "Components/Main/MainMedia.scss";

@import "Components/Header/Header.scss";
@import "Components/Header/HeaderMedia.scss";
@import "Components/Header/HeaderMobile.scss";

@import "Components/Footer/Footer.scss";

@import "Components/SliderMain/Slider.scss";
@import "Components/SliderMain/SliderMedia.scss";

@import "Components/Directions/Directions.scss";

@import "Components/CardsList/CardsList.scss";

@import "Components/Publications/Publications.scss";



* { 
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

html {
  margin-right: calc(-1 * (100vw - 100%));
  // overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #E5E5E5;
}


img  {
  display: block;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

main {
  // height: 80vh;
}

.inactive {
  display: none;
  visibility: hidden; 
}
//Временное решение, чтобы компоненты не съезжали!!!

